.container{
    display: grid;
    height: 500px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid black;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    /* grid-template-areas:
        "header header header header"
        "main main . sidebar"
        "footer footer footer footer"; */
    column-gap: 15px;
    row-gap: 15px;
    /* gap: 15px 10px; */
    /* justify-items: center;  horizontal justfy of items
    align-items: stretch;    vertical align of items */
    place-items: center;
    /* justify-content: center;
    align-content: space-around; */
    place-content: center;
}
.item{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    color: white;
}
/* .item1{
    grid-area: header;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;
} */
