.container{
    display: grid;
    height: 500px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid black;
    /* grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3, 1fr); */
    grid: 250px 250px / 1fr 1fr 1fr 1fr;
    /* grid-template-areas:
        "header header header header"
        "main main . sidebar"
        "footer footer footer footer"; */
    column-gap: 15px;
    row-gap: 15px;
    /* gap: 15px 10px; */
    justify-items: center;  
    align-items: stretch;    
    /* place-items: center; */
    justify-content: center;
    align-content: center;
    /* place-content: center; */
    grid-auto-columns: 60px;
    grid-auto-flow: dense;
}
.item{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    color: white;
}
/* .item1{
    grid-area: header;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;
} */
.item1{
    grid-column: 1 ;
    grid-row: 1 ;
}
.item2{
    grid-column: 2;
    grid-row: 1 / span 1;
}
.item3{
    grid-column: 3 / span 1;
    grid-row: 1 ;
}